html, body {

  margin: 0;
  background: black;
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  position: relative;
}
#container canvas {
  position: absolute;
}
#audio {
  display: none;
}
